.category-header {
  display: flex;
  height: 50vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.product-list {
  list-style: none;
}
.product-card{
  display: flex;
  list-style: none;
  flex-direction: row;
  max-height: 88px;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}
.product-list img {
  max-height: 88px;
}

.product-list li{
  padding: var(--space-small) 0;
}
.product-list p{
  text-overflow: ellipsis;
}
.product-card div{
   padding: 0 var(--space-medium);
}
@media only screen and (min-width: 768px) {
.product-list img, .product-card {
  max-height: 192px;
}
.product-card div{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
}