footer {
  background-color: var(--color-green);
  color: var(--color-light-green);
  min-height: 44px;
  width: 100%;
  margin-top: var(--space-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
}
footer > .icons-footer svg {
  width: 32px;
  height: 32px;
  margin: 0 8px;
}
@media (min-width: 920px) {
  footer > .icons-footer svg {
    width: 40px;
    height: 40px;
  }
}
