* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--color-white); 
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 100%;
}

.App {
  font-family: var(--font-family);
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

.row {
  max-width: 1120px;
  padding: var(--space-medium);
  width: 100%;
  margin: auto;
}
