.page-image {
  width: 95%;
  max-width: 1327px;
  margin: auto;
  padding: var(--space-medium);
}
.page-image img {
  width: 100%;
  object-fit: cover;
  max-height: 600px;
}
.page-details {
  width: 95%;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--space-medium);
  align-items: center;
}
.page-details h2 {
  padding: var(--space-small) 0;
}
.page-details .button-main {
  margin: auto;
}
@media only screen and (min-width: 768px) {
  .page-details h2 {
    padding: var(--space-medium) 0;
  }
}
