.button-main {
  border: solid 2px var(--color-green);
  background-color: var(--color-white);
  padding: var(--space-small) 0;
  min-width: 311px;
  height: 44px;
  text-align: center;
  cursor: pointer;
  font-size: var(--font-button-mobile);
  color: var(--color-green);
}
.button-link{
  background:none;
  border: none;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.button-main:hover {
  background-color: var(--color-green);
  color: var(--color-white);
}
@media (min-width: 920px) {
  .button-main {
    font-size: var(--font-button-desktop);
  }
}
